* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.chart-p {
    color: blue !important;
}



.table-chart-container tbody {
    overflow-y: scroll;
}

.table-chart-container {
    overflow-y: scroll;
    max-height: 250px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.table-chart-container::-webkit-scrollbar {
    display: none;
}

.table-chart-container thead th {
    position: sticky;
    top: 0px;
}



@media (max-width:768px) {
    .chart-container {
        background-color: #fff;
    }

    .table-chart-container {
        width: 80%;
    }

    .equ-ch {
        margin: 30px 0;
    }

    .table-chart-container th {
        text-align: center;
    }

    .table-chart-container td {
        text-align: center;
    }

    .table-chart-container tr {
        text-align: center;
    }

}

@media (max-width:576px) {
    .table-chart-container {
        width: 95%;
    }
}